<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <UsePowerShell>False</UsePowerShell>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ubcmugshare-001-site1.ftempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://ubcmugshare-001-site1.ftempurl.com:8172/MsDeploy.axd?site=ubcmugshare-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>ubcmugshare-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\ubcmugshare-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MugShareDB" Order="1" Enabled="False">
          <Destination Path="Data Source=67.231.28.188;Initial Catalog=MugShareDB;Persist Security Info=True;User ID=capstone44;Password=12345678" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=67.231.28.188;Initial Catalog=MugShareDB;Persist Security Info=True;User ID=capstone44;Password=12345678" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MugShareDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=67.231.28.188;Initial Catalog=MugShareDB;Persist Security Info=True;User ID=capstone44;Password=12345678" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MugShareDB-Web.config Connection String">
      <ParameterValue>Data Source=67.231.28.188;Initial Catalog=MugShareDB;Persist Security Info=True;User ID=capstone44;Password=12345678</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>